<p-dataView #dv [value]="profiles" [totalRecords]="totalRecords" [loading]="loading" [lazy]="true" (onLazyLoad)="loadCarsLazy($event)" [paginator]="true" [rows]="4" paginatorPosition="both" filterBy="brand"
[sortField]="sortField" [sortOrder]="sortOrder">
<ng-template let-profile pTemplate="listItem">
    <div class="ui-g" style="padding: 2em;border-bottom: 1px solid #d9d9d9">
        <div class="ui-g-12 ui-md-8 profile-details">
            <div class="ui-g">
                <div class="ui-g-2 ui-sm-6">Profile Id : </div>
                <div class="ui-g-10 ui-sm-6"><b>{{profile.id}}</b></div>

                <div class="ui-g-2 ui-sm-6">Profile Name: </div>
                <div class="ui-g-10 ui-sm-6"><b>{{profile.name}}</b></div>

                <div class="ui-g-2 ui-sm-6">profile groupId: </div>
                <div class="ui-g-10 ui-sm-6"><b>{{profile.maven.groupId}}</b></div>

                <div class="ui-g-2 ui-sm-6">profile artifactId : </div>
                <div class="ui-g-10 ui-sm-6"><b>{{profile.maven.artifactId}}</b></div>

              <div class="ui-g-2 ui-sm-6"> last modify: </div>
              <div class="ui-g-10 ui-sm-6"><b>{{profile.localDateTime}}</b></div>

            </div>
        </div>
        <div class="ui-g-12 ui-md-1 search-icon">
            <button pButton type="button" icon="pi pi-search" (click)="selectprofile($event, profile)">pop up</button>
        </div>
        <div class="ui-g-12 ui-md-1 search-icon">
            <button pButton type="button" icon="pi pi-search" (click)="routeprofile(profile)">More Information</button>
        </div>
    </div>
</ng-template>
<ng-template let-profile pTemplate="gridItem">
    <div style="padding:.5em" class="ui-g-12 ui-md-3">
        <p-panel [header]="profile.vin" [style]="{'text-align':'center'}">
            <div class="profile-detail">{{profile.id}} - {{profile.name}}</div>
            <hr class="ui-widget-content" style="border-top:0">
            <button pButton type="button" icon="pi pi-search" (click)="selectprofile($event, profile)" style="margin-top:0"></button>
        </p-panel>
    </div>
</ng-template>
</p-dataView>

<p-dialog header="profile Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" width="500" (onAfterHide)="onDialogHide()">
<div class="ui-g" *ngIf="selectedprofile">
    <div class="ui-g-4">id: </div>
    <div class="ui-g-8">{{selectedprofile.id}}</div>
    <div class="ui-g-4">name: </div>
    <div class="ui-g-8">{{selectedprofile.name}}</div>
    <div class="ui-g-4">groupId: </div>
    <div class="ui-g-8">{{selectedprofile.maven.groupId}}</div>
    <div class="ui-g-4">artifactId: </div>
    <div class="ui-g-8">{{selectedprofile.maven.artifactId}}</div>
</div>
</p-dialog>
