<div class="card" *ngIf="exist">
  <h1 style="text-align: center">Device Information Page</h1>
  <button type="button" class="btn btn-outline-success btn-lg w-25 m-auto" (click)="sync()">Sync Device !</button>

  <section>
    <div class = "ui-g-6">    IP Address: </div>
    <div class = "ui-g-6">    <label>{{device.CLI_ADDRESS}}</label></div>
  </section>
  <section>
    <div class="ui-g-6">
      Port:
    </div>
    <div class = "ui-g-6">{{device.CLI_PORT}}</div>
  </section>
  <section>
    <div class="ui-g-6">
      Protocol:
    </div>
    <div class="ui-g-6">
      <label>{{device.CLI_TRANSPORT}}</label>
    </div>
  </section>
  <section>
    <div class="ui-g-6">
      <label>last sync:</label>
    </div>
    <div class="ui-g-6">
      <label>{{device.localDateTime}}</label>
    </div>
  </section>
  <section>
    <h5>Matching Profiles : </h5>
    <table>
      <thead>
      <tr>
        <th>Profile Name</th>
        <th>Profile Id</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let fx of device.profileSet">
        <td class="rowPointer" [routerLink]="['/profile/', fx.id]"> {{ fx.name }}</td>
        <td>{{fx.id}}</td>
      </tr>
      </tbody>
    </table>
  </section>
</div>

<div *ngIf="!exist">
  <h3>Sorry, device Does Not Exist</h3>
</div>
