<div class="main">
  Device Home
  <br>
  <button type="button" class="btn btn-outline-primary btn-lg" (click)="showform()">Insert</button>
<!--  <button type="button" class="btn btn-outline-success btn-lg">Update</button>-->
</div>

<form [formGroup]="deviceForm" (ngSubmit)="onSubmit()" class="form" *ngIf="showForm">
  <div class="form-group">
    <label> IP Address:</label>
    <input formControlName="CLI_ADDRESS" type="text" class="form-control" placeholder="Enter CLI_ADDRESS">
  </div>
  <div class="form-group">
    <label> Username:</label>
    <input formControlName="CLI_LOGIN_USERNAME" type="password" class="form-control"
           placeholder="Enter CLI_LOGIN_USERNAME">
  </div>
  <div class="form-group">
    <label> Password:</label>
    <input formControlName="CLI_LOGIN_PASSWORD" type="password" class="form-control"
           placeholder="Enter CLI_LOGIN_PASSWORD">

  </div>
  <div class="form-group">
    <label> Protocol:</label>
    <p-dropdown [options]="transportType" formControlName="CLI_TRANSPORT"></p-dropdown>
    <!--    <input formControlName="CLI_TRANSPORT" type="text" class="form-control" placeholder="Enter CLI_TRANSPORT">-->
  </div>
  <div class="form-group">
    <label> Port:</label>
    <input formControlName="CLI_PORT" type="text" class="form-control" placeholder="Enter CLI_PORT">
  </div>

  <div class="form-group">
    <label> SNMP Port:</label>
    <input formControlName="SNMP_PORT" type="text" class="form-control">
  </div>
  <div class="form-group">
    <label> Read Community :</label>
    <input formControlName="SNMP_READ_CS" type="password" class="form-control" placeholder="Enter Read Community ">
  </div>
  <div class="form-group">
    <label> Enable Password :</label>
    <input formControlName="CLI_ENABLE_PASSWORD" type="password" class="form-control"
           placeholder="Enable Password">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<p-messages [(value)]="msgs"></p-messages>

<p-dataView #dv [value]="devices">
  <ng-template let-device pTemplate="listItem">
    <div class="ui-g" style="border-bottom: 1px solid #d9d9d9">
      <div class="ui-g-2 ">device Name :</div>
      <div class="ui-g-2 "><b>{{device.name}}</b></div>
      <div class="ui-g-2 ">device cli_ADDRESS:</div>
      <div class="ui-g-2 "><b>{{device.CLI_ADDRESS}}</b></div>
      <div class="ui-g-2">  <button pButton class="btn btn-outline-success btn-lg"type="button" icon="pi pi-search" (click)="routedevice(device)">Device Page</button>
      </div>
        <div class="ui-g-2">  <button pButton class="btn btn-outline-primary btn-lg"type="button" icon="pi pi-search" (click)="syncDevice(device.id)">Sync Device</button>
        </div>
    </div>
  </ng-template>
  <ng-template let-device pTemplate="gridItem">
    <div style="padding:.5em" class="ui-g-12 ui-md-3">
      <p-panel [header]="device.vin" [style]="{'text-align':'center'}">
        <div class="device-detail">{{device.id}} - {{device.cli_ADDRESS}}</div>
        <hr class="ui-widget-content" style="border-top:0">
      </p-panel>
    </div>
  </ng-template>
</p-dataView>
