<div class="main">
  Device Home !
  <br>
  <button type="button" class="btn btn-outline-primary btn-lg" (click)="showform()">Insert</button>
<button type="button" class="btn btn-outline-success btn-lg">Update</button>
</div>

<form [formGroup]="deviceForm" (ngSubmit)="onSubmit()" class="form" *ngIf="showForm">
  <div class="form-group">
    <label >    CLI_ADDRESS:</label>
    <input formControlName="CLI_ADDRESS" type="email" class="form-control"  placeholder="Enter CLI_ADDRESS">
  </div>
  <div class="form-group">
    <label >    CLI_LOGIN_USERNAME:</label>
    <input formControlName="CLI_ADDRESS" formControlName="CLI_LOGIN_USERNAME" type="email" class="form-control"  placeholder="Enter CLI_LOGIN_USERNAME">
  </div>
  <div class="form-group">
    <label >    CLI_LOGIN_PASSWORD:</label>
    <input formControlName="CLI_ADDRESS" formControlName="CLI_LOGIN_PASSWORD" type="email" class="form-control"  placeholder="Enter CLI_LOGIN_PASSWORD">
  </div>
  <div class="form-group">
    <label >    CLI_PORT:</label>
    <input formControlName="CLI_ADDRESS" formControlName="CLI_PORT" type="text" class="form-control"  placeholder="Enter CLI_PORT">
  </div>
  <div class="form-group">
    <label >    CLI_TRANSPORT:</label>
    <input formControlName="CLI_ADDRESS" formControlName="CLI_TRANSPORT" type="text" class="form-control"  placeholder="Enter CLI_TRANSPORT">
  </div>
  <div class="form-group">
    <label >    SNMP_PORT:</label>
    <input formControlName="CLI_ADDRESS" formControlName="SNMP_PORT" type="text" class="form-control"  placeholder="Enter SNMP_PORT">
  </div>
  <div class="form-group">
    <label >    SNMP_READ_CS :</label>
    <input formControlName="CLI_ADDRESS" formControlName="SNMP_READ_CS" type="text" class="form-control"  placeholder="Enter SNMP_READ_CS ">
  </div>
  <div class="form-group">
    <label >    cli_enable_password :</label>
    <input formControlName="CLI_ADDRESS" formControlName="cli_enable_password" type="text" class="form-control"  placeholder="Enter cli_enable_password">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>


<p-dataView #dv [value]="devices">
  <ng-template let-device pTemplate="listItem">
    <div class="ui-g" style="padding: 2em;border-bottom: 1px solid #d9d9d9">
      <div class="ui-g-12 ui-md-8 device-details">
        <div class="ui-g">
          <div class="ui-g-2 ui-sm-6">device Id : </div>
          <div class="ui-g-10 ui-sm-6"><b>{{device.id}}</b></div>

          <div class="ui-g-2 ui-sm-6">device Name: </div>
          <div class="ui-g-10 ui-sm-6"><b>{{device.cli_ADDRESS}}</b></div>

          <div class="ui-g-2 ui-sm-6">device groupId: </div>
          <div class="ui-g-10 ui-sm-6"><b>{{device.cli_LOGIN_USERNAME}}</b></div>

          <div class="ui-g-2 ui-sm-6">device artifactId : </div>
          <div class="ui-g-10 ui-sm-6"><b>{{device.cli_LOGIN_PASSWORD}}</b></div>
        </div>
      </div>
      <div class="ui-g-12 ui-md-1 search-icon">
        <button pButton type="button" icon="pi pi-search" (click)="routedevice(device)">More Information</button>
      </div>
    </div>
  </ng-template>
  <ng-template let-device pTemplate="gridItem">
    <div style="padding:.5em" class="ui-g-12 ui-md-3">
      <p-panel [header]="device.vin" [style]="{'text-align':'center'}">
        <div class="device-detail">{{device.id}} - {{device.cli_ADDRESS}}</div>
        <hr class="ui-widget-content" style="border-top:0">
      </p-panel>
    </div>
  </ng-template>
</p-dataView>
