<div class="main">
  Device Home
  <br>
  <button type="button" class="btn btn-outline-primary btn-lg" (click)="showform()">Insert</button>
</div>

<form [formGroup]="deviceForm" (ngSubmit)="onSubmit()" class="form" *ngIf="showForm">
  <div class="form-group">
    <label> Server : </label>
    <p-dropdown [options]="servers" formControlName="serverId" [(ngModel)]="selectedServer"></p-dropdown>
  </div>
  <div class="form-group">
    <label> Template : </label>
    <p-dropdown [options]="templates" formControlName="templateId" [(ngModel)]="selectedTemplate"></p-dropdown>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<p-messages [(value)]="msgs"></p-messages>

<table class="table table-striped ">
  <thead class="thead-light">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Address</th>
    <th scope="col">Device Page</th>
    <th scope="col">Device Sync</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let device of devices; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>{{ device.name  }}</td>
    <td>{{ device.CLI_ADDRESS }}</td>
    <td> <button pButton class="btn btn-outline-success btn-lg"type="button" icon="pi pi-search" (click)="routedevice(device)">Device Page</button>
    </td>
    <td> <button pButton class="btn btn-outline-success btn-lg"type="button" icon="pi pi-search" (click)="syncDevice(device.id)">Sync Device</button>
    </td>
  </tr>
  </tbody>
</table>

