.card{
  margin-top: 10px;
  padding: 20px;
  width: 80%;
  margin: auto;
  color: rgb(71, 71, 71);
  background-color: rgb(235, 235, 235);
}
label{
  color:rgb(53, 53, 53);
}
table {
  border: 4px solid #b1afd39d;
  background-color: rgb(221, 221, 221);
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {background-color: #b1afd39d;}

.rowPointer:hover{
  cursor:pointer;
}
#mynetwork{
  height: 900px;
}
.network-canvas {
  width: 100%;
  height: 800px;
  border: 1px solid lightgray;
}
